h1 {
  justify-self: center;
  font-family: cursive;
  font-size: 1cm;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.board-container {
  display: flex;
  justify-items: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.cells {
  display: grid;
  grid-template-rows: 10vw 10vw 10vw;
  grid-template-columns: 10vw 10vw 10vw;
  color: blue;
}

.basic-info {
  display: flex;
  flex-direction: row;
  margin-top: 5mm;
  height: auto;
  width: 30vw;
  justify-content: space-evenly;
}

.player-info {
  flex-shrink: 3;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.winner-info {
  width: 15vw;
  height: auto;
  text-align: center;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.reset {
  width: 12vw;
  height: auto;
  background-color: white;
  color: black;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.reset:hover {
  background-color: black;
  color: white;
}

.number-of-moves {
  flex-shrink: 1;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.input-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5mm;
  height: auto;
  width: 30vw;
}

input {
  height: 1cm;
  width: 10vw;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.cells button {
  height: 10vw;
  width: 10vw;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.cells button:hover {
  border: 5px solid gray;
}

h2 {
  font-family: cursive;
  font-size: 1.3vw;
}

h3 {
  font-family: cursive;
  font-size: 1.5vw;
}
