h1 {
  justify-self: center;
  font-family: cursive;
  font-size: 1cm;
}

.main-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.board-container {
  display: flex;
  justify-items: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.cells {
  display: grid;
  grid-template-rows: 2in 2in 2in;
  grid-template-columns: 2in 2in 2in;
  color: blue;
}

.basic-info {
  display: flex;
  flex-direction: row;
  margin-top: 5mm;
  height: auto;
  width: 6in;
  justify-content: space-evenly;
}

.player-info {
  flex-shrink: 3;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.winner-info {
  width: 3in;
  height: auto;
  text-align: center;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.reset {
  width: 2in;
  height: auto;
  background-color: white;
  color: black;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.reset:hover {
  background-color: black;
  color: white;
}

.number-of-moves {
  flex-shrink: 1;
  padding: 0mm 3mm 0mm 3mm;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

.input-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5mm;
  height: auto;
  width: 6in;
}

input {
  height: 1cm;
  width: 2in;
  text-align: center;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19);
}

button {
  height: 2in;
  width: 2in;
  border-radius: 10px;
  background-color: white;
  color: black;
}

button:hover {
  border: 5px solid gray;
}

h2 {
  font-family: cursive;
}

h3 {
  font-family: cursive;
  font-size: 1.5cm;
}
